<!DOCTYPE html>
<html style="font-size: 16px;" lang="es"><head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="inicio de sesión​, INTUITIVO">
    <meta name="description" content="">
    <title>Iniciar sesión</title>
    <link rel="stylesheet" href="logreg.css" media="screen">
<link rel="stylesheet" href="loginstyle.css" media="screen">
    <script class="u-script" type="text/javascript" src="jquery.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="nicepage.js" defer=""></script>
    
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
    
  <meta data-intl-tel-input-cdn-path="intlTelInput/">
</head>
    <div class="head">  
      <div class="logo">
          <a href="/" target="_self"><img src="img/lgblanco.PNG" alt="Logo" width="250" height="200"></a>
      </div>
      
      <nav class="navbar">
          <a href="/">Inicio</a>
          <a href="/nosotros">Nosotros</a>
          <a href="/login">Iniciar sesión</a>
      </nav>
  </div>
    <section class="u-clearfix u-grey-10 u-section-1" id="carousel_c0d1">
      <div class="u-expanded-width u-gradient u-shape u-shape-rectangle u-shape-1"></div>
      <divF class="u-align-center u-border-20 u-border-no-left u-border-no-right u-border-no-top u-border-palette-1-base u-container-align-center u-container-style u-custom-border u-group u-radius-46 u-shape-round u-white u-group-1">
        <div class="u-container-layout u-valign-middle-xs u-container-layout-1">
          <h2 class="u-text u-text-default u-text-palette-1-base u-text-1">inicio de sesión </h2>
          <div class="u-form u-login-control u-form-1">
            
            <form action="/codlogin" class="u-clearfix u-form-custom-backend u-form-spacing-10 u-form-vertical u-inner-form" style="padding: 0px;" method="post">
              <div class="u-form-group u-form-name">
                <label for="username-a30d" class="u-label u-text-grey-25 u-label-1">Correo *</label>
                <input type="email" placeholder="Lockera@correo.com" id="correo" name="correo" class="u-border-2 u-border-grey-10 u-grey-10 u-input u-input-rectangle u-input-1" required="">
              </div>
              <div class="u-form-group u-form-password">
                <label for="password-a30d" class="u-label u-text-grey-25 u-label-2">CONTRASEÑA</label>
                <input type="text" placeholder="Tu contraseña" id="psw" name="psw" class="u-border-2 u-border-grey-10 u-grey-10 u-input u-input-rectangle u-input-2" required="">
              </div>
              <div class="u-form-checkbox u-form-group">
                <input type="checkbox" id="checkbox-a30d" name="remember" value="On" class="u-field-input">
                <label for="checkbox-a30d" class="u-block-856d-14 u-field-label u-text-grey-25" style="text-transform: uppercase; font-size: 0.875rem; letter-spacing: 0px">Remember me</label>
              </div>
              <div class="u-align-left u-form-group u-form-submit">
                <input type="submit" value="INICIAR SESIÓN" class="u-btn u-btn-submit u-button-style u-btn-1">
              </div>
            </form>
          
          </div>
          <a href="#" class="u-border-1 u-border-active-palette-1-base u-border-hover-palette-1-base u-btn u-button-style u-login-control u-login-forgot-password u-none u-text-palette-1-base u-btn-2">Olvide mi contraseña</a>
          <a href="/registrar" class="u-border-1 u-border-active-palette-1-base u-border-hover-palette-1-base u-btn u-button-style u-login-control u-login-create-account u-none u-text-palette-1-base u-btn-3">No tienes una cuenta aún? </a>
        </div>
      </div>
    </section>
</body></html>