<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>Nosotros</title>
</head>
<body>
    <div class="head">  
        <div class="logo">
            <a href="/" target="_self"><img src="img/lgblanco.PNG" alt="Logo" width="250" height="200"></a>
        </div>
        <nav class="navbar">
            <a href="/">Inicio</a>
            <a href="/nosotros">Nosotros</a>
            <a href="/login">Iniciar sesión</a>
        <link rel="icon" href="../public/img/iconlock.ico">
        </nav>
    </div>
    <header class="content headerNosotros">
        <h1 class="title">Sobre nosotros</h1>
            <p >
                Un poco de nuestra historia. 
            </p>
            <p class="gg-chevron-double-down-o"></p>
    </header>
    <section class="nosotros-historia">
        <h2>Breve historia</h2>
        <p>Estudiantes de la universidad tecnológica de Guadalajara, México, apasionados por la tecnología y la seguridad:
            Héctor, Yeremi y Carlos. Identificaron una oportunidad en el mercado mexicano: un sistema 
            de cerrojos más seguro y moderno, adaptado a las tecnologías emergentes de hogares inteligentes. Después de 
            muchas conversaciones y sesiones de lluvia de ideas, decidieron embarcarse en un ambicioso proyecto.
    
            Así nació **Lock'era**, una empresa enfocada en desarrollar cerrojos inteligentes accesibles y confiables.
            En los primeros meses, operaban desde el garaje de Héctor. Con recursos limitados, comenzaron a diseñar y fabricar
            los primeros prototipos. 
    
        .</p>
    </section>
    <br>
    <section class="nosotros-vision">
        <h2 >Vision</h2>
        <p>Visión de Lock'era

            En Lock'era, nuestra visión es convertirnos en líderes globales en soluciones de seguridad inteligente para 
            hogares, ofreciendo cerrojos innovadores que proporcionen tranquilidad, comodidad y control a nuestros 
            clientes. Nos enfocamos en diseñar productos que no solo sean tecnológicamente avanzados, sino también
            accesibles y fáciles de usar, brindando una experiencia de usuario excepcional.
            
            Queremos que nuestros cerrojos inteligentes no sean solo una herramienta de seguridad, sino una parte 
            esencial del hogar moderno, integrando lo mejor de la tecnología y el diseño para mejorar la vida diaria de 
            las familias. En Lock'era, buscamos redefinir cómo las personas interactúan con la seguridad de su hogar, 
            creando un futuro donde el control y la protección estén al alcance de un toque.</p>

    </section>
    <section class="nosotros-mision">
        <h2>Mision</h2>
        <p>Misión de Lock'era
            
            Nuestra misión en Lock'era es proporcionar soluciones de seguridad inteligente que mejoren la vida diaria de 
            nuestros clientes. Nos dedicamos a diseñar y ofrecer cerrojos innovadores, confiables y fáciles de usar, que 
            combinen tecnología de vanguardia con un diseño accesible y moderno.
            
            Trabajamos incansablemente para garantizar que cada hogar se sienta protegido y conectado, brindando a las 
            familias el control y la tranquilidad que necesitan, sin sacrificar comodidad ni estilo. A través de un 
            enfoque centrado en la calidad, la atención al cliente y la sostenibilidad, en Lock'era buscamos hacer de 
            cada hogar un lugar más seguro y eficiente.</p>
    </section>
    <section class="nosotros-valores">
        <h2>Valores</h2>
            <p>1 - Innovación: Fomentamos el desarrollo constante de nuevas tecnologías para mejorar la seguridad y la comodidad de nuestros clientes.</p>
            <p>2 - Seguridad: La protección y tranquilidad de nuestros usuarios es nuestra máxima prioridad en cada producto que creamos.</p>           
            <p>3 - Calidad: Nos comprometemos a ofrecer productos duraderos y de alto rendimiento, que cumplan con los más altos estándares de la industria.</p>  
            <p>4 - Confiabilidad: Garantizamos que nuestros cerrojos inteligentes sean siempre confiables y fáciles de usar, minimizando riesgos y problemas técnicos.</p> 
            <p>5 - Atención al cliente: Escuchamos a nuestros clientes y ofrecemos un servicio de soporte cercano, eficaz y resolutivo.</p>
    </section>
    <footer class="footer">
        All rights from Lock'era
    </footer>
</body>
</html>