<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF=8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lock'era</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="icon" href="../public/img/icolooock.PNG">
</head>
<body>
    <div class="head">  
        <div class="logo">
            <a href="/" target="_self"><img src="img/lgblanco.PNG" alt="Logo" width="250" height="200"></a>
        </div>
        
        <nav class="navbar">
            <a href="/">Inicio</a>
            <a href="/nosotros">Nosotros</a>
        </nav>
    </div>
    <main>
        <section id="upload" class="content headerNosotros">
            <h2 class="title">Sube tu video</h2>
            <p class="info_vid"><a href="mailto:5320160359@alumnos.uteg.edu.mx" target="_self" class="btn">Enviar video</a> 15 segundos enseñando tus diferentes perfiles es suficiente</p>
       </section>
        <section id="about" class="nosotros-vision">
            <h2>¿Para que necesitan mi video?</h2>
            <p>Estimado usuario,

                Nuestro equipo de soporte técnico utilizará este video para entrenar un sistema de inteligencia artificial con el objetivo de mejorar la funcionalidad y calidad de tu dispositivo. Este proceso nos permite analizar y resolver problemas de manera más eficiente, asegurando que tu dispositivo funcione de manera óptima y cumpla con tus expectativas.
                
                Agradecemos tu colaboración y paciencia mientras trabajamos para ofrecerte un servicio de alta calidad y un dispositivo en perfectas condiciones de funcionamiento. Si tienes alguna pregunta o inquietud, no dudes en ponerte en contacto con nuestro equipo de soporte técnico.
            </p> </section>
        <section class="contect contact">
            <h2 class="title">Contacto</h2>
            <p class="texto">333243443</p>
            <p class="texto">Locacion: Entre calle Olimpica y Boulevard en frente de UTEG OLIMPICA y al lado de CUCEI.</p>
            
            <br>
            <iframe class="mapa" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3733.4173556990754!2d-103.32863792557606!3d20.652592700593882!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8428b23af5e4996d%3A0x5098874653d159f3!2sUTEG%20Plantel%20Ol%C3%ADmpica!5e0!3m2!1spt-BR!2smx!4v1727063438698!5m2!1spt-BR!2smx" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </section>
        <footer>
            <p>&copy; 2023 Mi Página Web. Todos los derechos reservados.</p>
        </footer>
    </main>
</body>
</html>
